{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Welcome to Aniket's Flask Server</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/indiapic.jpeg') }}" alt="Picture of me" height="600">
                    <div class="card-body">
                    <h5 class="card-title">Some fun facts about me:</h5>
                    <p class="card-text">
                        <ol>
                            <li>I am currently 15 years old, and will turn 16 next February.</li>
                            <li>I have an older sister named Ketki who is now a freshman at UCSD.</li>
                            <li>I've been coding since I was around 9 years old.</li>
                            <li>My favorite sport is cricket, and I've been playing it competitively since I was 8. </li>
                            <li>I also watch soccer and am a massive FC Barcelona fan</li>
                        </ol>
                    </p>
                    <a href="/aboutme/" class="btn btn-primary">More about me</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/batpicture.jpeg') }}" alt="Me holding a cricket bat that was used by one of the greatest players of all time." height="600">
                    <div class="card-body">
                    <h5 class="card-title">Sports</h5>
                    <p class="card-text">
                        <ol>
                            <a>I actively follow 3 sports: Cricket, soccer, and tennis. I also occaisionally watch football however those 3 are my favorites. In cricket, I support India and support Chennai Super Kings on a club level. In soccer, I have been supporting FC Barcelona since 2014 because of the legendary pairing of Messi Neymar and Suarez. Tennis I only started following recently, however my personal favorite players are Stefanos Tsitsipas, Roger Federer, Carlos Alcaraz, and Nick Kyrgios  </a>
                        </ol>
                    </p>
                    <a href="https://anicricket.github.io/automatic-spork/" class="btn btn-primary">My personal soccer-themed fastpages blog</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/SpotifyStats.png') }}" alt="Current Top Arists" height="100">
                    <div class="card-body">
                    <h5 class="card-title">My favorite artists at the moment</h5>
                    <p class="card-text">
                        <ol>
                            <li>My favorite musician is Kanye West, and my favorite song by him is I Wonder.</li>
                            <li>My second favorite artist is Kendrick Lamar, and my favorite song by him is Pray for Me.</li>
                            <li>My next favorite artist is Drake, and my favorite song by him is Best I Ever Had</li>
                            <li>I'm also a big fan of The Weeknd and I love the song Die For You.</li>
                            <li>I'm a huge sucker for Bruno Mars' voice, and my favorite song by him is Talking to the Moon</li>
                            <li>And last but certainly not the least, I'm also a fan of Tyler the Creator, with See You Again being my favorite song by him</li>
                        </ol>
                    </p>
                    <a href="https://open.spotify.com/user/crickettendulkar?si=6a1e70eb06bf4071" class="btn btn-primary">My spotify account</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}